[submodule "ion"]
	path = ion
	url = https://github.com/pion/ion
[submodule "ion-app-flutter"]
	path = ion-app-flutter
	url = https://github.com/pion/ion-app-flutter
[submodule "ion-app-web"]
	path = ion-app-web
	url = https://github.com/pion/ion-app-web
[submodule "ion-sdk-js"]
	path = ion-sdk-js
	url = https://github.com/pion/ion-sdk-js
[submodule "websocket/gRPC-Web/grpc-web"]
	path = websocket/gRPC-Web/grpc-web
	url = https://github.com/grpc/grpc-web
[submodule "webrtc"]
	path = webrtc
	url = https://github.com/pion/webrtc
[submodule "stun"]
	path = stun
	url = https://github.com/pion/stun
[submodule "turn"]
	path = turn
	url = https://github.com/pion/turn
